.mainscreentray{
  margin-top: 12vh;

}
#tingu{
  width:100vw;
  height: 100vh;
  background-color: red;
}

.mainscreenitems{
  background-color: #7f8c8d;
  text-align: center;
  padding-top: 50px;
  a{
    color: #FFF;
    text-decoration: none;
    }

}
