.row{
  position: absolute;
    margin:auto;
    top: 50%;
    transform: translateY(-50%);

  }
.btn{
  background-color: #2ecc71;
}
// .well{
//   background-color: #78CDE0;
// }
// #logintitle{
//   padding-top: 10px;
//   text-align: center;
// }
// body{
//   background-color: #F3CF3F;;
// }
