.login{
  position: absolute;
    margin:auto;
    top: 50%;
    transform: translateY(-50%);

  }
.loginbtn{
  background-color: #2ecc71;
  color: #FFF;
  // font-size: 10px;
}

#login{
  background-image: url('/assets/images/background.jpg');
  width:100vw;
  height: 100vh;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welllogin{
  background-color: #7f8c8d;
}
